

<br >
<br />
<br >
<br />
<br>
<br />
<h1>Admin bölgesi</h1>

<hr />

<a href="/">Anasayfaya dönüş</a>

<hr />

<a href="@Url.Action("Index", "Products", new { area = "Admin" })"> Products </a>

    <br />

    <a href="/Admin/Categories">Categories</a>

        <br />

        <a href="/Admin/Contact">Contacts</a>

            <br />

            <a href="/Admin/Adopts">Adopt</a>
