@model PS.Entity.User
<br>
<br></br>
<br>
<br></br>
@{
    ViewBag.Title = "Related Information";
}

<h2>@Model.UserName's Related Information</h2>

<div>
    <p>User ID: @Model.UserId</p>
    <p>Email: @Model.UserEmail</p>
    <!-- Display other relevant user information -->
</div>

<!-- Add more HTML and Razor code to display additional information as needed -->
