<br></br>
<br />
<br></br>
<br />
@using (Html.BeginForm("Index", "User", FormMethod.Get))
{
    <p>
        Search by name: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}


